* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

.loginPage {
    background-color: #ffff;
    padding: 30px;
    margin: 100px;
    border-radius: 20px;
    border: 2px solid #303B1D;
    box-shadow: 5px 5px 5px #303b1d8f;
    cursor: default;
}

.loginPage__bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

.loginPage__bar-back {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #303B1D;
    text-decoration: none;
    cursor: pointer;
}

.loginPage__bar-back:hover {
    border: solid 1px black;  
    transition-duration: 2ms;
}

.loginPage__bar .loginPage__bar-back a {
    text-decoration: none;
    font-weight: 600;
    color: #303B1D;
    font-size: 16px;
    padding: 5px;
}

.loginPage__bar .loginPage__bar-back img {
    width: 20px;
    height: 20px;
}

.loginPage__bar-logo {
    width: 140px;
    height: 40px;
}

.loginPage__title {
    text-align: center;
    padding-bottom: 20px;
    align-self: center;
    color: #303B1D;
}

.loginPage__title h1 {
    font-size: 24px;
    font-weight: 600;
}

.loginPage__title p {
    font-size: 16px;
}

.loginPage__form {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
}

.loginPage__form label {
    font-size: 16px;
    font-weight: 500;
    color: #303B1D;
    margin-bottom: 5px;
}

.loginPage__form input {
    padding: 8px;
    width: 100%;
    border-radius: 12px ;
    border: solid 2px #303B1D;
    cursor: pointer;
}

.loginPage__form input:focus{
    background-color: #3c8f16;
    overflow: hidden;
    color: white;
}

.loginPage__check-check {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.loginPage__check-check p {
    padding-left: 3px;
}

.loginPage__check {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#forgotPassword {
    text-decoration: none;
    font-weight: lighter;
}

#forgotPassword:hover {
    color: #3c8f16;
    text-decoration: underline;
}

#btn-login {
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: #ffff;
    background-color: #303B1D;
    padding: 10px;
    border-radius: 12px;
}

#btn-login:hover {
    color: #3c8f16;
}

.loginPage__signPart {
    display: flex;
    flex-direction: column;
}

.loginPage__signPart p a {
    cursor: pointer;
    color: #303B1D;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
}

.loginPage__signPart p a:hover {
    text-decoration: underline;
    color: #3c8f16;
    transition-duration: 2ms;
}

@media  (max-width: 700px){
    .loginPage__form {
        font-size: 12px;
    }

    .loginPage__form label {
        font-size: 12px;
    }

    .loginPage__signPart {
        font-size: 12px;
    }

    .loginPage__form-input {
        font-size: 12px;
    }

    .loginPage__title h1 {
        font-size: 20px;
    }

    .loginPage__title p {
        font-size: 14px;
    }

    .loginPage__check {
        font-size: 12px;
    }

    #login {
        font-size: 12px;
    }

    .loginPage__bar-logo {
        width: 110px;
        height: 30px;
    }
}